# VS preference files
.vs/
*.Backup.tmp
*.user

# during build
*/bin/*
*/obj/*

# keys
*/App.config
NhakhoaMyNgoc/Properties/Settings.Designer.cs
NhakhoaMyNgoc/Properties/Settings.settings

# nuget
packages/*

# draft
garbage/*
