<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NhakhoaMyNgoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NhakhoaMyNgoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NhakhoaMyNgoc.Properties.Settings>
            <setting name="FirebaseAuthPassword" serializeAs="String">
                <value>RGVtb1Bhc3N3b3JkMTIzQA==</value>
            </setting>
            <setting name="FirebaseAuthEmail" serializeAs="String">
                <value>duy.buiphankhanh@gmail.com</value>
            </setting>
        </NhakhoaMyNgoc.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <NhakhoaMyNgoc.Properties.Settings>
            <setting name="FirebaseAPIKey" serializeAs="String">
                <value>AIzaSyDxTOSfkgUU3HzFSUxoLJuRPAcfTtr-RS4</value>
            </setting>
            <setting name="FirebaseSignInAPI" serializeAs="String">
                <value>https://identitytoolkit.googleapis.com/v1/accounts:signInWithPassword?key=</value>
            </setting>
            <setting name="FirebaseRestApi" serializeAs="String">
                <value>https://nhakhoamyngoc-default-rtdb.asia-southeast1.firebasedatabase.app/{node}.json?auth={idToken}</value>
            </setting>
        </NhakhoaMyNgoc.Properties.Settings>
    </applicationSettings>
</configuration>